.container {
    width: 800px;
    height: 400px;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 5px;
}

.item {
    width: 200px;
    height: 100px;
    background-color: lightblue;
    border: 1px solid blue;
}

.list {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    height: 100%;
    gap: 5px;
}

.pic {
    height: 100%;
}
