.container {
    width: 800px;
    background-color: lightcoral;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.item {
    width: 200px;
    height: 600px;
    background-color: lightblue;
}

/*completar con la clase/*