nav {
    display: flex;
    flex-direction: column;
    background-color: yellowgreen;
}

.title1 {
    background-color: lightgreen;
    color: lightyellow;
}

h2 {
    color: green;
}
